.subscribe-button{
    background-color:red;
    color: white;
    border: none;
    width: 120px;
    height: 36px;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    transition: opacity 1.5s;
}

.subscribe-button:hover{
    opacity: 0.7;
}

.subscribe-button:active{
    opacity: 0.5;
}


.join-button{
    width: 68px;
    height:36px;
    border-color:rgb(18, 140, 255);
    border-width: 1px;
    color:rgb(18, 140, 255);
    background-color: white;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
    transition: background-color 1.5s,
     color 1.5s, opacity 1.5s;
}

.join-button:hover{
    background-color: rgb(18, 140, 255);
    color: white;
}

.join-button:active{
    opacity: 0.8;
}

.tweet-button{
    background-color: rgb(18, 140, 255);
    color: white;
    width: 78px;
    height: 36px;
    border: none;
    margin-left: 8px;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
}

.tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.2);
}