.footer{
    background-color: #333;
    color: white;
    justify-content: center;
    padding-top: 100px;
    padding: 30px 9%;
    flex-wrap: wrap;
    bottom: 0;
}

.about-us{
    margin-bottom: 5px;
}

.footer-contact{
    margin-bottom: 5px;
    font-size: 15px;
    display:block;

}

.footer-copywright{
    margin-top: 25px;
    font-size:15px;
}

.company-description{
    display:flex;
    font-size: 10px;
    width: 600px;
    margin-bottom: 15px;
}